


<div class="container ">
	<img src="/assets/img/burger.png" alt="" class="">
	<h1 class="text-center text-shadow" id="title">Eat-Da-Burger!</h1>
	<div class="row">
		<h3 id="label" class="text-shadow text-center col-sm-offset-3 col-sm-6">Enter a burger, or say "Add" and then then the name of your burger:</h3>
		<form class="col-sm-offset-3 col-sm-6">
			<div class="form-group">
				<div class="bubble">
					<textarea name="burger" class="" rows="2" id="burger" autofocus></textarea>
				</div>
				<input type="submit" value="Submit" id="submit" class="btn btn-danger btn-block" class="form-control">
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h3 class="sectionTitle text-shadow text-center">Burger Queue:</h3>
			{{#each burgers}}
				{{#unless devoured}}
					<div class="burger text-shadow">
					<p>{{this.id}}. {{burger_name}}<button class="devour pull-right btn btn-danger" id="{{this.id}}">Devour it!</button></p>

					</div>
				{{/unless}}
			{{/each}}
		</div>

		<div class="col-sm-6">
			<h3 class="sectionTitle text-shadow text-center">Devoured Burgers:</h3>
			{{#each burgers}}
				{{#if devoured}}
					<div class="devoured burger text-shadow text-center">
						<p>{{burger_name}}</p>
					</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
	
</div>

